<template name="footer">
  <div class="ui inverted padding-wrapper footer segment text-right">
    <hr />
    <small>
      Projet porté par
      <a href="https://applicationspub.unil.ch/interpub/noauth/php/Un/UnPers.php?PerNum=3052">François Bavaud</a>,
      <a href="https://applicationspub.unil.ch/interpub/noauth/php/Un/UnPers.php?PerNum=1028618">Mattia Egloff</a>
      et
      <a href="https://applicationspub.unil.ch/interpub/noauth/php/Un/UnPers.php?PerNum=1156575">Marion Rivoal</a>
    </small>
  </div>
</template>
